# Environment Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing
.pytest_cache/
.coverage
htmlcov/
pytest_out*.txt
test_out*.txt
openenv_tree.txt

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
